# Virtual environment
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
.eggs/
dist/
build/

# Jupyter
.ipynb_checkpoints/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Data files (too large for GitHub)
data/raw/
data/processed/
*.csv
*.parquet

# Spark
spark-warehouse/
metastore_db/
derby.log

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Environment files (secrets)
aws/.env
mcp/.env
gcp/.env
.secrets

# ignore zip files
*.zip